<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/dist/output.css" rel="stylesheet">
    {% tailwind_css %}
    {% load static %}
</head>
<!---->
<body class="bg-gradient-to-r from-blue-500 to-[#004A98]">
    <div class="mx-auto  w-3/4 my-16 text-gray-200 ">
        <div class="  h-[500px]  relative  border-2 border-transparent  rounded-3xl ">
            <div class="w-[400px] left-0 top-[100px] absolute -z-10">
                <img src="{% static 'box.png' %}" alt="box">
            </div>
            <div class=" absolute right-10 text-5xl font-semibold w-[330px] h-16 ">
                <div class="h-24 w-24 rounded-full -left-2 -top-5 bg-[#FBBC05] absolute "></div>
                <p class="absolute right-0">Welcome back</p>
                
            </div>
            <div class="h-[300px] sm:w-3/4 lg:w-1/2 py-8 px-10 rounded-lg sm:absolute shadow-2xl sm:right-10 sm:bottom-20 text-lg bg-sky-600 mt-[116px] mx-auto w-[330px]">
                <div class=" relative">
                    <div>Username</div>
                    <div class="focus:border-2 focus:border-[#ffbf00]" >
                        <input type="text" class="text-black my-2 w-full h-10 px-2 py-2 " id="username">
                    </div>
                    
                    <div>Password</div>
                    <input type="password" class="text-black my-2 w-full h-10 px-2 py-2" id="password">
                    <br>
                    <a href="index.html">
                        <button class="bg-[#FBBC05] p-2 w-2/5 mt-3 duration-300 hover:bg-[#ce9f13] font-bold text-gray-900 rounded-lg">Login</button>
                    </a>
                    <button class="absolute right-0 bottom-5 hover:underline">Forgot Password?</button>
                </div>
            </div>
        </div>
</body>
</html>